/* Basic Reset */
:root{
    /* Colors */
    --main-color: #f5efe6;
    --titles-color: #e86a33;
    --btn-hover: #e86933e3;
    --secondry-color: #f8f0e5;
    
    /* Fonts size/weight */
    --title-weight: 800;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.container{
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

button{
    margin: 2rem 0 0;
    padding: 20px 30px;
    font-weight: var(--title-weight);
    font-size:1.1rem;
    color: #eee;
    background-color: var(--titles-color);
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

button:hover{
    background-color: var(--btn-hover);
}
/* SCREEN */

.screen{
    display: none;
    padding: 2rem;
    text-align: center;
    
}

.screen.active{
    display: block;

}

/* Star Screen */

#start-screen h1{
    color: var(--titles-color);
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: var(--title-weight);
}

#start-screen p{
    font-size: 1.1rem;
    font-weight: 500;
}

.quiz-header{
    margin-bottom: 2rem;

}

#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #665;
    font-size: 0rem;
    margin-bottom: 9px;
}

.aanswers-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;

}

.answer-btn{
    background-color: var(--secondry-color);
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
}

.answer-btn:hover{
    background-color: #eabdc8;
    border-color: #dac0ae;
}

.answer-btn.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;

}

.answer-btn.correct{
    background-color: #fff0f0;
    border-color: #ffbdbd;
    color: #dc3545;

}

.progress-bar{
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top:20px;

}

.progress{
    height: 100%;
    background-color: var(--titles-color);
    width: 0%;
    transition: width 0.3 ease;
}


/* Result Screen */

#result-screen h1{
    color: var(--titles-color);
    margin-bottom: 30px;
}

.result-info{
    background-color: var(--secondry-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.result-info p{
    font-size: 1.2rem;
    color: #333;
}

#result-message{
    font-size: 1.5rem;
    font-weight: var(--title-weight);
    color: var(--titles-color);
}

/* RESPONSIVE DESIGN */

@media (max-width:500px){
    /* When We hit 500px and below implement the styles below */

    .screen{
        padding: 1rem;

    }
    #start-screen h1{
        font-size: 2rem;
    }
    #question-text{
        font-size: 1.3rem;
    }
    .answer-btn{
        padding: 12px;
    }
    button{
        padding: 12px 25px;
        font-size: 1rem;
    }
}